<div class="modal">
    <div class="modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>ECL Builder</h3>
                <button type="button" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body"><button class="purple" (click)="clear()">CLEAR</button>
                <div *ngIf="eclObject" class="expression-section">
                    <h3>Focus Concept</h3>
                    
                    <ng-container *ngIf="!eclObject?.conjunctionExpressionConstraints && !eclObject?.disjunctionExpressionConstraints && !eclObject?.subexpressionConstraint">
                        <div class="expression-group grey">
                            <div class="expression-row">
                                <select [(ngModel)]="eclObject.operator" (ngModelChange)="updateExpression()">
                                    <option [value]="'self'" selected>Self</option>
                                    <option [value]="'descendantof'">< Descendant of</option>
                                    <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                    <option [value]="'childof'">&lt;! Child of</option>
<!--                                    <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                    <option [value]="'ancestorof'">> Ancestor of</option>
                                    <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                    <option [value]="'parentof'">>! Parent of</option>
<!--                                    <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                    <option [value]="'memberOf'">^ Member of</option>
                                </select>
                                <span class="ellipsis">
                                    <input type="text" placeholder="Search..." [(ngModel)]="eclObject.fullTerm" (ngModelChange)="getConceptId(eclObject)" [ngbTypeahead]="search(eclObject)" placement="bottom"/>
                                    <ng-container *ngIf="eclObject?.searching">
                                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                    </ng-container>
                                </span>
                                <button *ngIf="eclObject?.fullTerm" class="circle green" (click)="newFocusConceptRow()"><span>&#43;</span></button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="eclObject?.conjunctionExpressionConstraints">
                        <div class="expression-group grey">
                            <div *ngFor="let conj of eclObject.conjunctionExpressionConstraints; let first = first; let i = index" class="expression-row">
                                <select *ngIf="!first" (change)="convertConjunctionToDisjunction()">
                                    <option value="AND" selected>AND</option>
                                    <option value="OR">OR</option>
                                </select>
                                <select [(ngModel)]="conj.operator" (ngModelChange)="updateExpression()">
                                    <option [value]="'self'" selected>Self</option>
                                    <option [value]="'descendantof'">< Descendant of</option>
                                    <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                    <option [value]="'childof'">&lt;! Child of</option>
<!--                                    <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                    <option [value]="'ancestorof'">> Ancestor of</option>
                                    <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                    <option [value]="'parentof'">>! Parent of</option>
<!--                                    <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                    <option [value]="'memberOf'">^ Member of</option>
                                </select>
                                <span class="ellipsis">
                                    <input type="text" placeholder="Search..." [(ngModel)]="conj.fullTerm" (ngModelChange)="getConceptId(conj)" [ngbTypeahead]="search(conj)" placement="bottom"/>
                                    <ng-container *ngIf="conj?.searching">
                                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                    </ng-container>
                                </span>
                                <button *ngIf="!first" class="circle red" (click)="removeFocusConceptRow(i)"><span>&#8722;</span></button>
                                <button class="circle green" (click)="newFocusConceptRow()"><span>&#43;</span></button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="eclObject?.disjunctionExpressionConstraints">
                        <div class="expression-group grey">
                            <div *ngFor="let disj of eclObject.disjunctionExpressionConstraints; let first = first; let i = index" class="expression-row">
                                <select *ngIf="!first" (change)="convertDisjunctionToConjunction()">
                                    <option value="AND">AND</option>
                                    <option value="OR" selected>OR</option>
                                </select>
                                <select [(ngModel)]="disj.operator" (ngModelChange)="updateExpression()">
                                    <option [value]="'self'" selected>Self</option>
                                    <option [value]="'descendantof'">< Descendant of</option>
                                    <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                    <option [value]="'childof'">&lt;! Child of</option>
<!--                                    <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                    <option [value]="'ancestorof'">> Ancestor of</option>
                                    <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                    <option [value]="'parentof'">>! Parent of</option>
<!--                                    <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                    <option [value]="'memberOf'">^ Member of</option>
                                </select>
                                <span class="ellipsis">
                                    <input type="text" placeholder="Search..." [(ngModel)]="disj.fullTerm" (ngModelChange)="getConceptId(disj)" [ngbTypeahead]="search(disj)" placement="bottom"/>
                                    <ng-container *ngIf="disj?.searching">
                                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                    </ng-container>
                                </span>
                                <button *ngIf="!first" class="circle red" (click)="removeFocusConceptRow(i)"><span>&#8722;</span></button>
                                <button class="circle green" (click)="newFocusConceptRow()"><span>&#43;</span></button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="eclObject?.subexpressionConstraint">
                        <div class="expression-group grey">
                            <div class="expression-row">
                                <select [(ngModel)]="eclObject.subexpressionConstraint.operator" (ngModelChange)="updateExpression()">
                                    <option [value]="'self'" selected>Self</option>
                                    <option [value]="'descendantof'">< Descendant of</option>
                                    <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                    <option [value]="'childof'">&lt;! Child of</option>
<!--                                    <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                    <option [value]="'ancestorof'">> Ancestor of</option>
                                    <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                    <option [value]="'parentof'">>! Parent of</option>
<!--                                    <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                    <option [value]="'memberOf'">^ Member of</option>
                                </select>
                                <span class="ellipsis">
                                    <input type="text" placeholder="Search..." [(ngModel)]="eclObject.subexpressionConstraint.fullTerm" (ngModelChange)="getConceptId(eclObject.subexpressionConstraint)" [ngbTypeahead]="search(eclObject)" placement="bottom"/>
                                    <ng-container *ngIf="eclObject?.searching">
                                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                    </ng-container>
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="eclObject?.fullTerm || eclObject?.eclRefinement" class="expression-section">
                    <h3>Refinements</h3>
                    <button class="green" *ngIf="!eclObject?.eclRefinement" (click)="newAttributeGroup()">ADD REFINEMENT</button>
                    <ng-container *ngIf="eclObject?.eclRefinement">
                        <div class="expression-group blue">
                            <div class="expression-row">
                                <select [(ngModel)]="eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName.operator" (ngModelChange)="updateExpression()">
                                    <option [value]="'self'" selected>Self</option>
                                    <option [value]="'descendantof'">< Descendant of</option>
                                    <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                    <option [value]="'childof'">&lt;! Child of</option>
<!--                                    <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                    <option [value]="'ancestorof'">> Ancestor of</option>
                                    <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                    <option [value]="'parentof'">>! Parent of</option>
<!--                                    <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                    <option [value]="'memberOf'">^ Member of</option>
                                </select>
                                <span class="ellipsis">
                                    <input type="text" placeholder="Search..." [(ngModel)]="eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName.fullTerm"
                                           (ngModelChange)="getConceptId(eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName)" [ngbTypeahead]="searchMrcmType(eclObject.subexpressionConstraint.conceptId, eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName)" placement="bottom"/>
                                    <ng-container *ngIf="eclObject?.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName.searching">
                                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                    </ng-container>
                                </span>
                                <select [(ngModel)]="eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.expressionComparisonOperator" (ngModelChange)="updateExpression()">
                                    <option [value]="'='">=</option>
                                    <option [value]="'!='">!=</option>
                                </select>
                                <select [(ngModel)]="eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.value.operator" (ngModelChange)="updateExpression()">
                                    <option [value]="'self'" selected>Self</option>
                                    <option [value]="'descendantof'">< Descendant of</option>
                                    <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                    <option [value]="'childof'">&lt;! Child of</option>
<!--                                    <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                    <option [value]="'ancestorof'">> Ancestor of</option>
                                    <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                    <option [value]="'parentof'">>! Parent of</option>
<!--                                    <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                    <option [value]="'memberOf'">^ Member of</option>
                                </select>
                                <span class="ellipsis">
                                    <input type="text" placeholder="Search..." [(ngModel)]="eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.value.fullTerm"
                                           (ngModelChange)="getConceptId(eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.value)" [ngbTypeahead]="searchMrcmTarget(eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName, eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.value)" placement="bottom"/>
                                    <ng-container *ngIf="eclObject?.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.value.searching">
                                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                    </ng-container>
                                </span>

                                <button class="circle red" (click)="removeAttributeGroupRow(null)"><span>&#8722;</span></button>
                                <button class="circle green" (click)="newAttributeGroupRow(null)"><span>&#43;</span></button>
                            </div>
                            <ng-container *ngIf="eclObject.eclRefinement.subRefinement.eclAttributeSet.conjunctionAttributeSet">
                                <div *ngFor="let conjunctionAttributeSet of eclObject.eclRefinement.subRefinement.eclAttributeSet.conjunctionAttributeSet; let i = index" class="expression-row">
                                    <select (change)="convertConjunctionRefinementToDisjunctionRefinement()">
                                        <option value="AND" selected>AND</option>
                                        <option value="OR">OR</option>
                                    </select>
                                    <select [(ngModel)]="conjunctionAttributeSet.attribute.attributeName.operator" (ngModelChange)="updateExpression()">
                                        <option [value]="'self'" selected>Self</option>
                                        <option [value]="'descendantof'">< Descendant of</option>
                                        <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                        <option [value]="'childof'">&lt;! Child of</option>
<!--                                        <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                        <option [value]="'ancestorof'">> Ancestor of</option>
                                        <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                        <option [value]="'parentof'">>! Parent of</option>
<!--                                        <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                        <option [value]="'memberOf'">^ Member of</option>
                                    </select>
                                    <span class="ellipsis">
                                        <input type="text" placeholder="Search..." [(ngModel)]="conjunctionAttributeSet.attribute.attributeName.fullTerm"
                                               (ngModelChange)="getConceptId(conjunctionAttributeSet.attribute.attributeName)" [ngbTypeahead]="searchMrcmType(eclObject.subexpressionConstraint.conceptId, conjunctionAttributeSet.attribute.attributeName)" placement="bottom"/>
                                        <ng-container *ngIf="conjunctionAttributeSet?.attribute.attributeName.searching">
                                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                        </ng-container>
                                    </span>
                                    <select [(ngModel)]="conjunctionAttributeSet.attribute.expressionComparisonOperator" (ngModelChange)="updateExpression()">
                                        <option [value]="'='">=</option>
                                        <option [value]="'!='">!=</option>
                                    </select>
                                    <select [(ngModel)]="conjunctionAttributeSet.attribute.value.operator" (ngModelChange)="updateExpression()">
                                        <option [value]="'self'" selected>Self</option>
                                        <option [value]="'descendantof'">< Descendant of</option>
                                        <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                        <option [value]="'childof'">&lt;! Child of</option>
<!--                                        <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                        <option [value]="'ancestorof'">> Ancestor of</option>
                                        <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                        <option [value]="'parentof'">>! Parent of</option>
<!--                                        <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                        <option [value]="'memberOf'">^ Member of</option>
                                    </select>
                                    <span class="ellipsis">
                                        <input type="text" placeholder="Search..." [(ngModel)]="conjunctionAttributeSet.attribute.value.fullTerm"
                                               (ngModelChange)="getConceptId(conjunctionAttributeSet.attribute.value)" [ngbTypeahead]="searchMrcmTarget(conjunctionAttributeSet.attribute.attributeName, conjunctionAttributeSet.attribute.value,'conjunction')" placement="bottom"/>
                                        <ng-container *ngIf="conjunctionAttributeSet?.attribute.value.searching">
                                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                        </ng-container>
                                    </span>
                                    <button class="circle red" (click)="removeAttributeGroupRow('conjunction', i)"><span>&#8722;</span></button>
                                    <button class="circle green" (click)="newAttributeGroupRow(null)"><span>&#43;</span></button>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="eclObject.eclRefinement.subRefinement.eclAttributeSet.disjunctionAttributeSet">
                                <div *ngFor="let disjunctionAttributeSet of eclObject.eclRefinement.subRefinement.eclAttributeSet.disjunctionAttributeSet; let i = index" class="expression-row">
                                    <select (change)="convertDisjunctionRefinementToConjunctionRefinement()">
                                        <option value="AND">AND</option>
                                        <option value="OR" selected>OR</option>
                                    </select>
                                    <select [(ngModel)]="disjunctionAttributeSet.attribute.attributeName.operator" (ngModelChange)="updateExpression()">
                                        <option [value]="'self'" selected>Self</option>
                                        <option [value]="'descendantof'">< Descendant of</option>
                                        <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                        <option [value]="'childof'">&lt;! Child of</option>
<!--                                        <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                        <option [value]="'ancestorof'">> Ancestor of</option>
                                        <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                        <option [value]="'parentof'">>! Parent of</option>
<!--                                        <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                        <option [value]="'memberOf'">^ Member of</option>
                                    </select>
                                    <span class="ellipsis">
                                    <input type="text" placeholder="Search..." [(ngModel)]="disjunctionAttributeSet.attribute.attributeName.fullTerm"
                                           (ngModelChange)="getConceptId(disjunctionAttributeSet.attribute.attributeName)" [ngbTypeahead]="searchMrcmType(eclObject.subexpressionConstraint.conceptId, disjunctionAttributeSet.attribute.attributeName)" placement="bottom"/>
                                        <ng-container *ngIf="disjunctionAttributeSet?.attribute.attributeName.searching">
                                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                        </ng-container>
                                    </span>
                                    <select [(ngModel)]="disjunctionAttributeSet.attribute.expressionComparisonOperator" (ngModelChange)="updateExpression()">
                                        <option [value]="'='">=</option>
                                        <option [value]="'!='">!=</option>
                                    </select>
                                    <select [(ngModel)]="disjunctionAttributeSet.attribute.value.operator" (ngModelChange)="updateExpression()">
                                        <option [value]="'self'" selected>Self</option>
                                        <option [value]="'descendantof'">< Descendant of</option>
                                        <option [value]="'descendantorselfof'"><< Descendants or Self of</option>
                                        <option [value]="'childof'">&lt;! Child of</option>
<!--                                        <option [value]="'childorselfof'"><<! Child or Self of</option>-->
                                        <option [value]="'ancestorof'">> Ancestor of</option>
                                        <option [value]="'ancestororselfof'">>> Ancestor or Self of</option>
                                        <option [value]="'parentof'">>! Parent of</option>
<!--                                        <option [value]="'parentorselfof'">>>! Parent or Self of</option>-->
                                        <option [value]="'memberOf'">^ Member of</option>
                                    </select>
                                    <span class="ellipsis">
                                    <input type="text" placeholder="Search..." [(ngModel)]="disjunctionAttributeSet.attribute.value.fullTerm"
                                           (ngModelChange)="getConceptId(disjunctionAttributeSet.attribute.value)" [ngbTypeahead]="searchMrcmTarget(disjunctionAttributeSet.attribute.attributeName, disjunctionAttributeSet.attribute.value, 'disjunction')" placement="bottom"/>
                                        <ng-container *ngIf="disjunctionAttributeSet?.attribute.value.searching">
                                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                        </ng-container>
                                    </span>
                                    <button class="circle red" (click)="removeAttributeGroupRow('disjunction', i)"><span>&#8722;</span></button>
                                    <button class="circle green" (click)="newAttributeGroupRow(null)"><span>&#43;</span></button>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="output-section">
                    <h3>Output</h3>
<!--                    <p class="output">{{eclObject | json}}</p>-->

                    <div *ngIf="eclString" class="output">
                        <ng-container *ngIf="eclObject?.fullTerm">
                            <p>{{getOpSymbol(eclObject.operator)}} {{eclObject.fullTerm}}<p>
                        </ng-container>

                        <ng-container *ngIf="eclObject?.conjunctionExpressionConstraints">
                            <span *ngFor="let conjunction of eclObject.conjunctionExpressionConstraints; let first = first">
                                {{first ? '' : 'AND'}} {{getOpSymbol(conjunction.operator)}} {{conjunction.fullTerm}}</span>
                        </ng-container>

                        <ng-container *ngIf="eclObject?.disjunctionExpressionConstraints">
                            <span *ngFor="let disjunction of eclObject.disjunctionExpressionConstraints; let first = first">
                                {{first ? '' : 'OR'}} {{getOpSymbol(disjunction.operator)}} {{disjunction.fullTerm}}</span>
                        </ng-container>

                        <ng-container *ngIf="eclObject?.subexpressionConstraint">
                            <p>{{getOpSymbol(eclObject.subexpressionConstraint.operator)}} {{eclObject.subexpressionConstraint.fullTerm}} :<p>

                            <p *ngIf="eclObject?.eclRefinement" class="indent-1">
                                {{getOpSymbol(eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName.operator)}}
                                {{eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName.fullTerm}}
                                {{eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.expressionComparisonOperator}}
                                {{getOpSymbol(eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.value.operator)}}
                                {{eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.value.fullTerm}}
                            </p>

                            <ng-container *ngIf="eclObject?.eclRefinement.subRefinement.eclAttributeSet.conjunctionAttributeSet">
                                <p *ngFor="let conj of eclObject.eclRefinement.subRefinement.eclAttributeSet.conjunctionAttributeSet; let last = last" class="indent-1">
                                    AND
                                    {{getOpSymbol(conj.attribute.attributeName.operator)}}
                                    {{conj.attribute.attributeName.fullTerm}}
                                    {{conj.attribute.expressionComparisonOperator}}
                                    {{getOpSymbol(conj.attribute.value.operator)}}
                                    {{conj.attribute.value.fullTerm}}
                                </p>
                            </ng-container>

                            <ng-container *ngIf="eclObject?.eclRefinement.subRefinement.eclAttributeSet.disjunctionAttributeSet">
                                <p *ngFor="let disj of eclObject.eclRefinement.subRefinement.eclAttributeSet.disjunctionAttributeSet; let last = last" class="indent-1">
                                    OR
                                    {{getOpSymbol(disj.attribute.attributeName.operator)}}
                                    {{disj.attribute.attributeName.fullTerm}}
                                    {{disj.attribute.expressionComparisonOperator}}
                                    {{getOpSymbol(disj.attribute.value.operator)}}
                                    {{disj.attribute.value.fullTerm}}
                                </p>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="cancel" (click)="close()">CANCEL</button>
                <button type="button" class="accept" (click)="accept()">OK</button>
            </div>
        </div>
    </div>
    <div class="app-modal-background" (click)="close()"></div>
</div>
