<div class="modal">
    <div class="modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>ECL Builder</h3>
                <button type="button" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div *ngIf="eclObject" class="focus-concept-section">
                    <h3>Focus Concept</h3>
                    <ng-container *ngIf="eclObject?.operator">
                        <div class="focus-concept-row">
                            <select [(ngModel)]="eclObject.operator" (ngModelChange)="updateExpression()">
                                <option [value]="'descendantof'">Descendants</option>
                                <option [value]="'descendantorselfof'">Descendants or self of</option>
                                <option [value]="'ancestorof'">Parents</option>
                                <option [value]="'ancestororselfof'">Parents or self of</option>
                            </select>
                            <input type="text" placeholder="Search..." [(ngModel)]="eclObject.fullTerm" (ngModelChange)="getConceptId(eclObject)" [ngbTypeahead]="search" placement="bottom"/>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="eclObject?.conjunctionExpressionConstraints">
                        <div *ngFor="let conj of eclObject.conjunctionExpressionConstraints; let first = first" class="focus-concept-row">
                            <select *ngIf="!first" (change)="convertConjunctionToDisjunction()">
                                <option value="AND" selected>AND</option>
                                <option value="OR">OR</option>
                            </select>
                            <select [(ngModel)]="conj.operator" (ngModelChange)="updateExpression()">
                                <option [value]="'descendantof'">Descendants</option>
                                <option [value]="'descendantorselfof'">Descendants or self of</option>
                                <option [value]="'ancestorof'">Parents</option>
                                <option [value]="'ancestororselfof'">Parents or self of</option>
                            </select>
                            <input type="text" placeholder="Search..." [(ngModel)]="conj.fullTerm" (ngModelChange)="getConceptId(conj)" [ngbTypeahead]="search" placement="bottom"/>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="eclObject?.disjunctionExpressionConstraints">
                        <div *ngFor="let disj of eclObject.disjunctionExpressionConstraints; let first = first" class="focus-concept-row">
                            <select *ngIf="!first" (change)="convertDisjunctionToConjunction()">
                                <option value="AND">AND</option>
                                <option value="OR" selected>OR</option>
                            </select>
                            <select [(ngModel)]="disj.operator" (ngModelChange)="updateExpression()">
                                <option [value]="'descendantof'">Descendants</option>
                                <option [value]="'descendantorselfof'">Descendants or self of</option>
                                <option [value]="'ancestorof'">Parents</option>
                                <option [value]="'ancestororselfof'">Parents or self of</option>
                            </select>
                            <input type="text" placeholder="Search..." [(ngModel)]="disj.fullTerm" (ngModelChange)="getConceptId(disj)" [ngbTypeahead]="search" placement="bottom"/>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="eclObject?.subexpressionConstraint">
                        <div class="focus-concept-row">
                            <select [(ngModel)]="eclObject.subexpressionConstraint.operator" (ngModelChange)="updateExpression()">
                                <option [value]="'descendantof'">Descendants</option>
                                <option [value]="'descendantorselfof'">Descendants or self of</option>
                                <option [value]="'ancestorof'">Parents</option>
                                <option [value]="'ancestororselfof'">Parents or self of</option>
                            </select>
                            <input type="text" placeholder="Search..." [(ngModel)]="eclObject.subexpressionConstraint.fullTerm" (ngModelChange)="getConceptId(eclObject.subexpressionConstraint)" [ngbTypeahead]="search" placement="bottom"/>
                        </div>
                    </ng-container>
                    <button *ngIf="!eclObject?.eclRefinement" class="add-row" (click)="newFocusConceptRow()"><span>+</span></button>
                </div>

                <div class="attribute-group-section">
                    <h3>Attribute Group</h3>
                    <button *ngIf="eclObject?.fullTerm" class="add-group" (click)="newAttributeGroup()">ADD GROUP</button>
                    <ng-container *ngIf="eclObject?.eclRefinement">
                        <div class="attribute-group">
                            <div class="attribute-group-row">
                                <input type="text" placeholder="Search..." [(ngModel)]="eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName.fullTerm"
                                       (ngModelChange)="getConceptId(eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.attributeName)" [ngbTypeahead]="search" placement="bottom"/>
                                <select [(ngModel)]="eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.expressionComparisonOperator" (ngModelChange)="updateExpression()">
                                    <option [value]="'='">=</option>
                                    <option [value]="'!='">!=</option>
                                </select>
                                <input type="text" placeholder="Search..." [(ngModel)]="eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.value.fullTerm"
                                       (ngModelChange)="getConceptId(eclObject.eclRefinement.subRefinement.eclAttributeSet.subAttributeSet.attribute.value)" [ngbTypeahead]="search" placement="bottom"/>
                            </div>
                            <ng-container *ngIf="eclObject.eclRefinement.subRefinement.eclAttributeSet.conjunctionAttributeSet"></ng-container>
                            <div *ngFor="let conjunctionAttributeSet of eclObject.eclRefinement.subRefinement.eclAttributeSet.conjunctionAttributeSet" class="attribute-group-row">
                                <select (change)="convertConjunctionToDisjunction()">
                                    <option value="AND" selected>AND</option>
                                    <option value="OR">OR</option>
                                </select>
                                <input type="text" placeholder="Search..." [(ngModel)]="conjunctionAttributeSet.attribute.attributeName.fullTerm"
                                       (ngModelChange)="getConceptId(conjunctionAttributeSet.attribute.attributeName)" [ngbTypeahead]="search" placement="bottom"/>
                                <select [(ngModel)]="conjunctionAttributeSet.attribute.expressionComparisonOperator" (ngModelChange)="updateExpression()">
                                    <option [value]="'='">=</option>
                                    <option [value]="'!='">!=</option>
                                </select>
                                <input type="text" placeholder="Search..." [(ngModel)]="conjunctionAttributeSet.attribute.value.fullTerm"
                                       (ngModelChange)="getConceptId(conjunctionAttributeSet.attribute.value)" [ngbTypeahead]="search" placement="bottom"/>
                            </div>
<!--                            <button class="add-row" (click)="newAttributeGroupRow(group)">+</button>-->
                        </div>
                    </ng-container>
                </div>
                <div class="output-section">
                    <h3>Output</h3>
<!--                    <p class="output">{{eclObject | json}}</p>-->
<!--                    <p class="output">{{eclString}}</p>-->
                    <p class="output">
                        <span class="mb-0" style="display:block; white-space:pre" *ngFor="let line of ECLexpressionBuilder(eclString)">{{line}}</span>
                    </p>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="cancel" (click)="close()">CANCEL</button>
                <button type="button" class="accept" (click)="accept()">OK</button>
            </div>
        </div>
    </div>
    <div class="app-modal-background" (click)="close()"></div>
</div>
